.nav-bar {
  display: flex;
  background-color: #363333;
  height: 3.5em;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-list :visited {
  color: #f1f4f4;
}

li {
  margin-left: 4em;
  margin-right: 3em;
}

li a {
  text-decoration: none;
  color: #f8f7f7;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-list :hover {
  color: #fabd2f;
}
